
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign Lang Tutor</title>
    <style>
   .image1 {box-sizing: border-box;

position: absolute;
width: 2039.44px;
height: 1200px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image1.png);
opacity: 0.8;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: translate(0px,4px);
    }
    .bar {position: absolute;
width: 2039px;
height: 98px;

background: #FEF1F1;
mix-blend-mode: hard-light;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: translate(0px,55px);

        }
        .numbers{
            /* Rectangle 3 */


position: absolute;
width: 325px;
height: 316px;

background: url(numbers.png);
border-radius: 32px;
transform: translate(522px,466px);
        }
        .alphabets{
            position: absolute;
width: 325px;
height: 316px;

background: url(alphabets.png);
border-radius: 33px;
transform: translate(1251px,466px);
        }
        .text{
            position: absolute;
width: 920px;
height: 232px;
font-size: 23px;

font-family: 'sans serif';
font-style: normal;


text-align: center;

color: #FFFFFF;
transform: translate(600px,190px);
        }
        .numbox{
            position: absolute;
width: 290px;
height: 102px;

background: #FFFFFF;
border-radius: 25px;
transform: translate(540px,825px);
        }
        .alpbox{
            position: absolute;
width: 290px;
height: 102px;

background: #FFFFFF;
border-radius: 25px;
transform: translate(1268px,825px);
        }
        .numtext{
            position: absolute;
width: 178px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */

text-align: center;

color: #000000;


transform: translate(596px,854px);
        }
        .alptext{
            
position: absolute;
width: 213px;
height: 44px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
/* identical to box height */
text-align: center;
color: #000000;
transform: translate(1307px,855px);
        }
        .learnsign{
            position: absolute;
width: 298px;
height: 87px;

font-family: 'Sans serif';
font-style: normal;

font-size: 36px;
line-height: 44px;
text-align: center;

color: #000000;
transform: translate(18px,82px);
        }
        .logo{
            
position: absolute;
margin: 0;
width: 84px;
height: 87px;
background:url(logo.png);
mix-blend-mode: hard-light;
transform: translate(2px,60px);
        }
    </style>
</head>
<body>
    <div class="image1"></div>
    <div class="bar" style="margin:0;"></div>
    <div class="numbers"></div>
    <div class="alphabets" method="">
        </div>
    <div class="text">
        <h1><b>Start learning ASL for free!!</b></h1>
        <h2>Feed your passion, get encouragement, and gain confidence as you learn and test yourselves!</h2>
     </div>
    <div class="numbox"></div>
    <div class="alpbox"></div>
    <div class="numtext">NUMBERS</div>
    <form action="" method="post">
    <button class="alptext" style="background-color: white; border: none;">ALPHABETS</button>
    </form>
    <div class="learnsign"><b>learn</b>sign</div>
    <div class="logo"></div>
</body>